{% extends "layout.html.twig" %}
{% set active = 'test' %}
{% block page_title %}
    ALAKAZAM | TEST
{% endblock %}

{% block content %}

    <div class="row contenu">


        {#                  ONGLET & MENU                    #}

        {# Onglets #}
        {{ render(controller('App\\Controller\\TechNews\\IndexController::onglets')) }}

        {# Onglet Menu #}
        {{ render(controller('App\\Controller\\TechNews\\IndexController::menu')) }}



        {#       -------------------------------------------------------------------------------------      #}


        {#         CONTENU PRINCIPAL DE ALAKAZAM RESPONSE        #}


        <h1 style="text-align: center; width: 100%; padding-top: 50px;"> Alakazam ! </h1>



        {#          ---------------------------------------------             #}

        {#        QUESTIONS        #}

        {{ render(controller('App\\Controller\\TechNews\\FormController::testForm')) }}

        {#      END QUESTIONS      #}

        {#          ---------------------------------------------             #}







        {#          ---------------------------------------------             #}

        {#        CAROUSEL        #}


        {#      END CAROUSEL      #}

        {#          ---------------------------------------------             #}


        {#       END CONTENU PRINCIPAL DE ALAKAZAM RESPONSE      #}


        {#       ------------------------------------------------------------------------------------      #}

    </div>




    {#                SLIDEBAR                  #}
    {# Attention, SLIDEBAR ne doit pas être dans la div class="contenu" #}

    {# Sidebar Left #}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebarleft')) }}

    {# Sidebar #}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}


{% endblock %}