{% extends "layout.html.twig" %}


{% block page_title %}
    Affiche Recette
{% endblock %}

{% block content %}
<div class="row contenu">

    {#             ONGLETS & MENU             #}

    {# Onglets #}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::onglets')) }}

    {# Menu #}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::menu')) }}




            {#       --------------------------------------------------------      #}


                    {#         CONTENU PRINCIPAL DE LA RECETTE        #}



    <div class="recette-container">

        <div class="recette-image-container">
            <img class="recette-image" src="{{ asset(recette.image) }}">
        </div>

        <div class="recette-top-container">
            <h1 class="recette-titre">{{ recette.titre }}</h1>
            <em class="recette-auteur">par <a>{{ auteur.nom }}</a></em>
            <p class="recette-note">* * * * *</p>
        </div>

    </div>


                    {#       END CONTENU PRINCIPAL DE LA RECETTE      #}


            {#       --------------------------------------------------------      #}



    {#                SLIDEBAR                  #}

    {# Sidebar Left #}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebarleft')) }}

    {# Sidebar #}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}


    {% endblock %}
